<!-- Mientras se cargan los posts -->
<div class="loading" *ngIf="!posts">
  Cargando...
</div>

<!-- Muestra el contenido cuando la propiedad posts exista, tenga contenido -->
<div class="container-fluid" *ngIf="posts">
  <h1>{{page_title}}</h1>
  <hr/>

  <div class="card-columns">
    <article class="card w-100" *ngFor="let post of posts">
      <div class="card-header">
        <h3>{{post.title}}</h3>
      </div>

      <div class="card-body">
        <!-- Imagen, se pasa url -->
        <!-- En caso de que la imagen exista -->
        <div class="post-image w-100" *ngIf="post.image">
          <img src="{{ url + 'post/image/' + post.image }}" class="w-100"/>
        </div>

        <!-- En caso de que la imagen no exista -->
        <div class="post-image w-100" *ngIf="!post.image">
          <img src="assets/img/image-default.jpg" class="w-100"/>
        </div>

        <!-- botones de acción -->
        <div class="post-buttons mt-3">
          <a [routerLink]="['/inicio']" class="btn btn-success mr-2">Leer</a>

          <!-- Comprueba si el usuario esta identificado y si el id del usuario identificado
               es igual al user_id del post-->
          <span *ngIf="identity && identity.sub == post.user_id">
            <a [routerLink]="['/inicio']" class="btn btn-warning mr-2">Editar</a>
            <a [routerLink]="['/inicio']" class="btn btn-danger">Borrar</a>
          </span>

        </div>

      </div>
    </article>
  </div>

</div>

