<!-- Mientras se cargan los posts -->
<div class="loading" *ngIf="!posts">
  Cargando...
</div>

<!-- Muestra el contenido cuando la propiedad posts exista, tenga contenido -->
<div class="container-fluid" *ngIf="posts">
  <h1>{{page_title}}</h1>
  <hr/>

  <div class="card-columns">
    <article class="card w-100" *ngFor="let post of posts">
      <div class="card-header">
        <!-- Con la directiva innerHtml se puede mostrar HTML -->
        <h3><a [routerLink]="['/entrada', post.id]" [innerHtml]="post.content"></a></h3>
        <p>{{post.user.name}}</p>
      </div>

      <div class="card-body">
        <!-- Imagen, se pasa url -->
        <!-- En caso de que la imagen exista -->
        <div class="post-image w-100" *ngIf="post.image">
          <img src="{{ url + 'post/image/' + post.image }}" class="w-100"/>
        </div>

        <!-- En caso de que la imagen no exista -->
        <div class="post-image w-100" *ngIf="!post.image">
          <img src="assets/img/image-default.jpg" class="w-100"/>
        </div>

        <!-- botones de acción -->
        <!-- Comprueba si el usuario esta identificado y si el id del usuario identificado
               es igual al user_id del post-->
        <div class="post-buttons mt-3" *ngIf="identity && identity.sub == post.user_id">
          <a [routerLink]="['/editar-entrada', post.id]" class="btn btn-warning mr-2">Editar</a>


          <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#myModal'+post.id">
            Borrar
          </button>

          <!-- The Modal -->
          <div class="modal" id="{{ 'myModal'+post.id }}">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">¿Seguro que quieres borrar esta publicación?</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  Vas a borrar definitivamente {{post.title}}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <a (click)="deletePost(post.id)" class="btn btn-danger" data-dismiss="modal">Borrar</a>
                  <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>
    </article>
  </div>

</div>

