.background-post {
  background-color: rgb(231,238,243);
}

.user-name {
    color: rgb(155,192,238);
}

.user-img{
    width: 3rem;
}

.post-icons {
    width: 1rem;

}





.profile-img-background{
  height: 15rem;
}

.user-img-background{
  width: 9rem;
  margin-top: -7rem;
  margin-left: 2rem;
}

.user-name-profile{
  color: rgb(255,255,255);
  margin-top: -7rem;
  font-size: calc(1.5em + 1.5vw);
}

.margin-top-column-profile {
  margin-top: 6rem;
}

.margin-top-data-profile {
  margin-top: 10rem;
}
