/***** BARRA DE NAVEGACIÓN *****/
#bg-light {
  background-color: rgb(10,43,72);
}

.nav-link {
  color: rgba(255,255,255)!important;
}
.navbar-light .navbar-brand {
  color: rgba(255,255,255)!important;
}
/***** FIN BARRA DE NAVEGACIÓN *****/

/***** VIDEO DE CABECERA *****/
header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  z-index: 1;
}

.title-header {
    color: rgb(10,43,72);
    font-size: calc(4em + 4vw);
}

.subtitle-header {
    color: rgb(10,43,72);
    font-size: calc(1.5em + 1.5vw);
}

.container-nav{
    padding: 0px;
    margin: 0px;
}
/***** FIN VIDEO DE CABECERA *****/
